*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.border{
    border: 1px solid #000;
}
nav{
    background-color: #17263a;
    height: 50px;
    width: 100%;
    position: sticky;
    margin: 0px;
    top: 0px;
    padding: 0px;
    border-top: #fff;
}
.logo{
    padding: 0px 0px 0px 50px;
    margin: 0px 0px 0px 0px ;
    float: left;
    clear: both;
}
nav h1{
    font-size: 40px;
    font-style: normal;
    text-align: center;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    color: #967245;
}
nav ul{
    float: right; 
    margin: -32px 10px;
    padding: 0px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
}
nav ul a:link {
    color: #967245;
    padding: 15px;
}
nav ul a:visited{
    color:#967245;
    padding: 15px;
}
nav ul a:hover{
    color: #967245;
    padding: 15px;
    border-bottom:5px solid #dad9de;
}
nav ul a:active{
    color: #967245;
    padding: 13px;
    border-bottom:5px solid #dad9de;
}
.mainarea div h2{
    text-align: center;
    font-size: 80px;
    color: #967245;
    text-shadow: 2px 1px 1px #17263a;
}
.mainareatext{
    width: 1000px;
    height: 500px;
    text-align: center;
    font-size: 30px;
    margin: 40px 840px;
    border: 2px solid #967245;
    border-radius: 20px;
    background-color: #17263a;
    color: #fff;
    text-shadow: 2px 1px 1px #967245;
    padding: 40px;
}
.picture{
    margin: 40px 840px
}
footer{
    width: 100%;
    height: 200px;
    background-color: #17263a;
}
.FooterNav{
    float: left;
    list-style: none;
    text-transform: uppercase;
    text-align: left;
    margin: 80px 40px;
}
.FooterNav ul li{
    color: #967245;
    list-style: none;
    display: inline-block;
    margin: 15px;
}
footer p{
    margin-left: 1000px;
    font-size: 50px;
    color: #967245;
    text-transform: capitalize;
    padding-top: 40px;
    text-shadow: 4px 4px 4px #000; 
}
.FooterSocial{
    float: right;
    margin: 20px;
}