*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*  This is the start of my Navigation Section   */
nav{
    background-color: rgb(23, 38, 58);
    height: 50px;
    width: 100%;
    position: sticky;
    margin: 0px;
    top: 0px;
    padding: 0px;
    border-top: #fff;
}
.logo{
    padding: 0px 0px 0px 50px;
    margin: 0px 0px 0px 0px ;
    float: left;
    clear: both;
}
nav h1{
    font-size: 40px;
    font-style: normal;
    text-align: center;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    color: #967245;
}
nav ul{
    float: right; 
    margin: -32px 10px;
    padding: 0px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
}
nav ul a:link {
    color: #967245;
    padding: 15px;
}
nav ul a:visited{
    color:#967245;
    padding: 15px;
}
nav ul a:hover{
    color: #967245;
    padding: 15px;
    border-bottom:5px solid #dad9de;
}
nav ul a:active{
    color: #967245;
    padding: 13px;
    border-bottom:5px solid #dad9de;
}
/*This is the end of Navigation */ 
/*This is the start of Hero Section */
main{ 
    height: 780px;
    width: 100%;
    background: url('./heroyellow.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.hero-text{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    text-transform: uppercase;
    font-size: 70px;
    text-shadow: 3px 3px 3px #967245; 
}
.hero-para{
    color: #fff;
    text-align: center;
    font-size: large;
    font-family: 'roboto', sans-serif;
    font-weight: 100;
}
/* End of Hero Section */
/* Start of Style Area */
.stylehead{
    background-color: #fff;
}
.stylehead h2{
    color: #967245; 
    font-size: 70px;
    text-align: center;
    text-shadow: 4px 4px 4px #000; 
}
.style{
    height: 1000px;
    width: 100% ;
    background-color: #fff;
}
.row{
    margin-left: 12%;
}
.column{
    height: 30vh;
    width: 30vh;
    margin: 120px;
    float: left;
    background-color: #17263a;
}
.style1{
    padding: 10;
}
.column:hover{
    background-color: #967245;
}
/* End of Style Area */
/* Start of Additional Services */
.Additional{
    height: 500px;
    clear: both;
    background-color: #fff;
}
.Additional p{
    color: #967245;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px #000; 
}
.row2{
    margin-left: 18%;
}
.column2{
    height: 250px;
    width: 20%;
    float: left;
    margin: 60px;
}
.shoe{
    background-color: #17263a;
}
.ShoesVid{
    padding: 10px;
}
.shoe:hover{
    background-color: #967245;
}
.Accessories{
    background-color: #17263a;
}
.AccessoriesVid{
    padding: 10px;
}
.Accessories:hover{
    background-color: #967245;
}
.Lifestyle{
    background-color: #17263a;
    position: relative;
    text-align: center;
    color: rgb(5, 5, 5);
    
}
.LifestyleVid{
    padding: 10px;
    position: relative;
}
.Lifestyle:hover{
    background-color: #967245;
    visibility: visible;
}
.hidden{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left:120%;
    visibility: hidden;
}
/* End of Additional Services */
/* Start of Footer */
footer{
    width: 100%;
    height: 200px;
    background-color: #17263a;
}
.FooterNav{
    float: left;
    list-style: none;
    text-transform: uppercase;
    text-align: left;
    margin: 80px 40px;
}
.FooterNav ul li{
    color: #967245;
    list-style: none;
    display: inline-block;
    margin: 15px;
}
footer p{
    margin-left: 42%;
    font-size: 50px;
    color: #967245;
    text-transform: capitalize;
    padding-top: 40px;
    text-shadow: 4px 4px 4px #000; 
}
.FooterSocial{
    float: right;
    margin: 20px;
}
/* End of Footer */