*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
/*  This is the start of my Navigation Section   */
nav{
    background-color: rgba(23, 38, 58, 0.918);
    height: 50px;
    width: 100%;
    position: sticky;
    margin: 0px;
    top: 0px;
    padding: 0px;
    border-top: #fff;
}
.logo{
    padding: 0px 0px 0px 50px;
    margin: 0px 0px 0px 0px ;
    float: left;
    clear: both;
}
nav h1{
    font-size: 40px;
    font-style: normal;
    text-align: center;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    color: #967245;
    text-shadow: 4px 4px 4px #000; 
}
nav ul{
    float: right; 
    margin: -32px 10px;
    padding: 0px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
}
nav ul a:link {
    color: #967245;
    padding: 15px;
}
nav ul a:visited{
    color:#967245;
    padding: 15px;
}
nav ul a:hover{
    color: #967245;
    padding: 15px;
    border-bottom:5px solid #dad9de;
}
nav ul a:active{
    color: #967245;
    padding: 13px;
    border-bottom:5px solid #dad9de;
}
/*This is the end of Navigation */ 
/*This is the start of Hero Section */
main{ 
    height: 780px;
    width: 100%;
    background: url('./heroyellow.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.hero-text{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    text-transform: uppercase;
    font-size: 70px;
    text-shadow: 3px 3px 3px #967245; 
}
.hero-para{
    color: #fff;
    text-align: center;
    font-size: large;
    font-family: 'roboto', sans-serif;
    font-weight: 100;
}
/* End of Hero Section */
/* Start of Style Area */
.stylehead{
    height: 100px;
    background-color: #17263a;
}
.stylehead h2{
    color: #967245; 
    font-size: 70px;
    text-align: center;
    text-shadow: 4px 4px 4px #000; 
}
.style{
    height: 1000px;
    width: 100% ;
    background-color: #17263a;
}
.row{
    text-align: center;
}
.column{
    height: 320PX;
    width: 32%;
    float: left;
    margin: 5px;
    text-align: center;
}
/* End of Style Area */
/* Start of Additional Services */
.Additional{
    height: 500px;
    clear: both;
    background-color: #17263a;
}
.Additional p{
    color: #967245;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}
.row2{
    margin-left: 18%;
}
.column2{
    height: 250px;
    width: 20%;
    float: left;
    margin: 60px;
}
/* End of Additional Services */
/* Start of Footer */
footer{
    clear:both;
    width: 100%;
    height: 200px;
    background-color: #17263a;
}
.FooterNav{
    float: left;
    list-style: none;
    text-transform: uppercase;
    clear: both;
}
.FooterNav ul li{
    color: #967245;
    list-style: none;
    display: inline inline-block;
}
footer p{
    text-align: center;
    font-size: 50px;
    color: #967245;
    text-transform: capitalize;
    padding-top: 40px;
    clear: both;
    text-shadow: 4px 4px 4px #000; 
}
.FooterSocial{
    clear: both;
    float: right;
    margin: 20px;
}
/* End of Footer */